@page
@model NichollsScheduler.Pages.CourseSelectionModel
@{
    ViewData["Title"] = "CourseSelection";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="container">
        <div class="row">
            <h2 style="text-align:center">Time to add some courses.</h2>
            <br />
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <select class="form-control form-control-lg" id="subj" asp-for="subject">
                    <option value="" selected>Select Subject</option>
                    <option value="ACCT">Accounting</option>
                    <option value="AHSC">Allied Health Science</option>
                    <option value="ART">Art</option>
                    <option value="ASTR">Astronomy</option>
                    <option value="ATTR">Athletic Training</option>
                    <option value="BIOL">Biology</option>
                    <option value="BSAD">Business Administration</option>
                    <option value="CHEM">Chemistry</option>
                    <option value="COMD">Communicative Disorders</option>
                    <option value="CIS">Computer Information Systems</option>
                    <option value="CMPS">Computer Science</option>
                    <option value="COUN">Counseling</option>
                    <option value="CRJU">Criminal Justice</option>
                    <option value="XERP">Cross Enrolled River Parishes</option>
                    <option value="CULA">Culinary Arts</option>
                    <option value="DIET">Dietetics</option>
                    <option value="ECON">Economics</option>
                    <option value="EDCI">Educ Curr and Instruction</option>
                    <option value="EDFR">Educ Foundations and Research</option>
                    <option value="EDTL">Educ Tech Leadership</option>
                    <option value="EDUC">Education</option>
                    <option value="EDLE">Education Leadership</option>
                    <option value="EGSC">Engineering Science</option>
                    <option value="ENGL">English</option>
                    <option value="FCED">Family and Consumer Sci Educ</option>
                    <option value="FINC">Finance</option>
                    <option value="FREN">French</option>
                    <option value="GEOG">Geography</option>
                    <option value="GEOL">Geology</option>
                    <option value="GEOM">Geomatics</option>
                    <option value="GOVT">Government</option>
                    <option value="HPED">Health and Physical Education</option>
                    <option value="HEAD">Higher Education Admnistration</option>
                    <option value="HIST">History</option>
                    <option value="HONR">Honors Program</option>
                    <option value="HUMA">Humanities</option>
                    <option value="IDST">Interdisciplinary Studies</option>
                    <option value="LDST">Leadership Studies</option>
                    <option value="MNGT">Management</option>
                    <option value="MKTG">Marketing</option>
                    <option value="MACO">Mass Communication</option>
                    <option value="MATH">Mathematics</option>
                    <option value="MUS">Music</option>
                    <option value="MUED">Music Education</option>
                    <option value="NURS">Nursing</option>
                    <option value="OIS">Office Information Systems</option>
                    <option value="PSET">Petroleum Services Technology</option>
                    <option value="PHIL">Philosophy</option>
                    <option value="PHSC">Physical Science</option>
                    <option value="PHYS">Physics</option>
                    <option value="PSYC">Psychology</option>
                    <option value="QBA">Quantitative Business Analysis</option>
                    <option value="SATC">Safety Technology</option>
                    <option value="SOCI">Sociology</option>
                    <option value="SPAN">Spanish</option>
                    <option value="SPCH">Speech</option>
                    <option value="UNIV">University Studies</option>
                </select>
            </div>
            <div class="form-group col-md-5">
                <select asp-for="courseNum" class="form-control form-control-lg" id="cnum"></select>
            </div>
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-success" id="add"><i class="fas fa-plus"></i>&nbsp;Add Course</button>
            </div>
        </div>
        <br />
        <br />
        <div class="container col-md-12">
            <form id="selCourses" method="post">
                <table class="table table-striped" id="courseTable">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Subject</th>
                            <th scope="col">Course Number</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="selCourseTable"></tbody>
                </table>
                <br />
                <hr class="my-4" />
                <div class="form-group col-md-12" style="text-align:center">
                    <input type="submit" id="submit" value="Generate Schedule" class="btn btn-lg btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>

@section scripts{
    <script>
        $(function () {
            $("#subj").on("change", function () {
                var subject = $(this).val();
                $("#cnum").empty();
                $("#cnum").append("<option value=''>Select Course Number</option>");
                $.getJSON(`?handler=CourseSelections&Subject=${subject}`, (data) => {
                    $.each(data, function (i, item) {
                        $("#cnum").append(`<option value="${item.courseNum}">${item.courseNum}</option>`);
                    });
                });
            });
        });

        $(document).ready(function () {
            var i = 0;
            $("#add").click(function (e) {
                var subjectText = $("#subj option:selected").text();
                var subjectVal = $("#subj").val();
                var courseNumVal = $("#cnum").val();
                if (subjectVal == "" || courseNumVal == "") {
                    return;
                }
                e.preventDefault();
                $("#courseTable").append(`<tr id="row${i}"><td><div class="col-md-8 subjTxt"><p>${subjectText}</p><input type="hidden" name="selCourses[${i}].subject" value="${subjectVal}"/></div ></td ><td><div class="col-md-8 cnumTxt"><p>${courseNumVal}</p><input type="hidden" name="selCourses[${i}].courseNum" value="${courseNumVal}" /></div></td><td><div class="removebtn"><button type="button" class="btn btn-danger btn_remove" id="${i}" name="remove"><i class="fas fa-times-circle"></i>&nbsp;Remove</button></div></td></tr > `);
                i++;
            });
            $(document).on('click', '.btn_remove', function () {
                var table = $("#selCourseTable").find("tr").toArray();
                var button_id = $(this).attr("id");
                $(`#row${button_id}`).remove();
                i--
                if (table.length == Number(button_id)+1) {
                    return;
                }
                var c = Number(button_id) + 1;
                for (c; c < table.length; c++)
                {
                    var newIndex = c - 1;
                    table[c].setAttribute("id", `row${newIndex}`);
                    table[c].querySelector(".subjTxt").querySelector("input").setAttribute("name", `selCourses[${newIndex}]`);
                    table[c].querySelector(".cnumTxt").querySelector("input").setAttribute("name", `selCourses[${newIndex}]`);
                    table[c].querySelector(".btn_remove").setAttribute("id", `${newIndex}`);
                }
            });
        });
    </script>
}