@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<br />  
<br />
<div class="jumbotron">
    <h1 class="display-4 text-left">Nicholls Schedule Helper Tool</h1>
    <p class="lead">Designed to save you time and make scheduling your classes a breeze!</p>
    <hr class="my-4" />
        <p class="lead">Click below to begin scheduling!</p>
        <a asp-page="/SelectTerm" class="btn btn-lg btn-red">Begin Scheduling</a>
</div>


