@page
@model NichollsScheduler.Pages.ManualRegisterModel
@{
    ViewData["Title"] = "ManualRegister";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <h2>Use these CRNs to register your courses.</h2>
    <br />
    <div class="card" style="margin-top: 1em">
        <div class="card-header text-white btn-red">
            <h4>@ManualRegisterModel.termName - Schedule</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        @foreach(var CourseModel in ManualRegisterModel.selectedCourses)
                        {
                            <th>@CourseModel.subject @CourseModel.courseNumber</th>
                        }
                    </tr>
                </thead>
                <tr>
                @foreach (var CourseModel in ManualRegisterModel.selectedCourses)
                {
                    
                        <td><h5>@CourseModel.courseRegistrationNum</h5></td>
                }
                  </tr>
            </table>
        </div>
        <div class="card-footer">
            <div class="col-sm-4 offset-sm-4">
            <a target="_blank" rel="noopener noreferrer" href="https://banner.nicholls.edu/PROD/twbkwbis.P_WWWLogin" class="btn btn-lg btn-block btn-red">Go to Banner</a>
        </div>
        </div>
    </div>
</div>

