@page
@model NichollsScheduler.Pages.SelectTermModel
@{
    ViewData["Title"] = "SelectTerm";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@if (SelectTermModel.availableTerms.Count == 0)
{
    <div class="container">
        <br />
        <h2 class="text-center">No terms are available for registration yet.</h2>
    </div>
}
else
{
    <div class="container">
        <div class="col-xs-8 col-xs-offset-2">
            <br />
            <h2 class="text-red">Select a term to register for.</h2>
            <br />
            <br />
            <form method="post">
                <div class="form-row">
                    <div class="form-group-lg">
                        <select asp-for="termId" id="selectedTerm" class="form-control">
                            @foreach (KeyValuePair<string, string> pair in SelectTermModel.availableTerms)
                            {

                                <option value="@pair.Value">@pair.Key</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group-lg">
                        <input type="submit" class="btn btn-red btn-lg" style="margin-top: 10px" value="Select Term" />
                    </div>
                </div>
            </form>
        </div>
    </div>
}